*{
 margin: 0;
 padding: 0;
 outline: none;
}
a{
 text-decoration: none;
}
span{
	color: #3070a8;
	font-weight: bold;
}
sub{
	font-size: 19px;
}
sup{
	font-size: 13px;

}
.header_nav{
	margin-left:189px;
	height: 68px;
	width: 1023px;
}
.logo{
	margin-top: 48px;
}
.logo a{
	color: #ee8129;
	font-size: 36px;
	display: block;
	float: left;
}	
.menu ul li{
	float: right;
	display: block;
	list-style: none;
}
.menu ul li a{
	color: #989898;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	display: block;	
	line-height: 66px;
	margin-right:40px;
}
.menu ul li a:hover{
	border-bottom: 4px solid #3070a8;
	color: #3070a8;
	font-weight: bold;
}
/*Banner*/
.banner{
	height: 585px;
	background-image: url(img/ban_bg.jpg);
}
.ban_cont{
	width: 1024px;
	margin-left:189px;
	padding-top: 156px;
}
.ban_cont p{
	text-align: center;
	font-family: 'britannic', bold;
	color: white;
	font-size: 48px;	
}
.ban_cont p:first-child{
	font-size: 36px;
}
.lor{
	font-size: 20px;
	color: white;
}
button{
	width: 245px;
	height: 57px;
	background: transparent;
	color: white;
	/*border: 1px solid white ;*/
	margin:47px 0 0 381px;
}
/*Services*/

.services{
	height: 507px;
	margin-top: 56px;
	
}
.serv_cont{
	width: 1035px;
	margin-left:189px;
}
.p_serv{
	margin-bottom: 77px;
	font-size: 30px;
	color: #41525c;
	text-align: center;
}
.protect{
	width:140px;
	height:140px;
	background: #3070a8;
	float: left;
	border: 1px solid white;
	border-radius: 100px;
	margin-left: 100px;
}
.protect img{
	margin: 25%;
}
.alert{
	width:140px;
	height:140px;
	background: #3070a8;
	float: left;
	border: 1px solid white;
	border-radius: 100px;
	margin-left: 216px;

}
.alert img{
	margin: 25%;
	}
.detect{
	width:140px;
	height:140px;
	background: #3070a8;
	float: left;
	border: 1px solid white;
	border-radius: 100px;
	margin-left: 216px;
}
.detect img{
	margin: 25%;
	}
.clr{
	clear: both;
}
.cap_pro{
	color: #3070a8;
	font-size: 30px;
	margin-bottom: 28px;
}
.p_protect{
	width:305px;
	float: left;
	text-align: center;
	color: #999999;
	margin: 7px 0 0 10px;
}
.p_protect p{
	margin-top: 20px;
	line-height: 22px;
}
.p_alert{
	width:305px;
	float: left;
	text-align: center;
	color: #999999;
	margin: 7px 0 0px 60px;
}
.p_alert p{
	margin-top: 20px;
	line-height: 22px;
}
.p_detect{
	width:305px;
	float: left;
	text-align: center;
	color: #999999;
	margin: 7px 0 0 48px;
}
.p_detect p{
	margin-top: 20px;
	line-height: 22px;
}
/*SECTION*/

.section{
	height: 563px;
	background-image: url(img/sec_bg.jpg);
}
.sec_content{
	width: 673px;
	margin-left:189px;
}

.sec_p{
	color: #ee8129;
	font-size: 26px;
	line-height: 35px;
	

}
.sec_content ul{
	color: white;
	font-family: 'Open Sans';
	font-size: 19px;
	margin-top: 10px;
}
.sec_content ul li{
list-style-position: inside;
color: #848484;
line-height: 32px;
font-family: 'Open Sans';

}
.sec_content ul li:hover{
	color: #2d679a;
}
/*PRICING*/

.pricing{
	height: 703px;

}
.pri_content{
	width: 1023px;
	margin-left:189px;
	margin-top: 75px;
	text-align: center;
}
.pri_content li{
	list-style: none;
	line-height: 33px;
	color: #888c94;
}
.pri_h_p{
	font-family: 'Trebuchet';
	font-size:30px;
	color: #41525c;
}
.all_price{
	margin-left: 74px;
}
.standard{
	height: 420px;
	width: 290px;
	border: 1px solid #e8eaec;
	margin-top: 78px;
	float: left;
	background-color: white;
	border-radius: 0 0 0 5px;
}
.standard:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	border: 3px solid #2bc2d5;
	box-shadow: 0 0 10px rgba(43,194,213,10);
}
.s_head{
	height: 63px;
	line-height: 63px;
	background-color: #2bc2d5;
	font-size: 24px;
	color: white;
}
.s_text{
	font-size: 24px;
	margin-top: 23px;
	margin-bottom: 27px;
}
.s_list{
	width: 260px;
	margin-left: 15px;
}
.s_list li{
	background-color: #e8f2fb;
	border: 1px solid white;
}
.s_list li:nth-child(even){
	background-color: #f5f5f6;
}
.standard input{
	background-color: #3070a8;
	color: white;
	border-radius: 6px;
}
.b_value{
	height: 420px;
	width: 290px;
	border: 1px solid #e8eaec;
	margin-top: 78px;
	float: left;
	background-color: white;
}
.b_value:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	border: 3px solid #ee8129;
	box-shadow: 0 0 10px rgba(238,129,41,10);
}
.b_v_head{
	height: 63px;
	line-height: 63px;
	background-color: #ee8129;
	font-size: 24px;
	color: white;
}
.b_text{
	font-size: 24px;
	margin-top: 23px;
	margin-bottom: 27px;
	}
.b_list{
	width: 260px;
	margin-left: 15px;
}
.b_list li{
	background-color: #e8f2fb;
	border: 1px solid white;
}
.b_list li:nth-child(even){
	background-color: #f5f5f6;
}
.b_value input{
	background-color: #ee8129;
	color: white;
	border-radius: 6px;
	}
.ultimate{
	height: 420px;
	width: 290px;
	border: 1px solid #e8eaec;
	margin-top: 78px;
	float: left;
	background-color: white;
}
.ultimate:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	border: 3px solid #00b89a;
	box-shadow: 0 0 10px rgba(43,194,213,10);
	}
.ult_head{
	height: 63px;
	line-height: 63px;
	background-color: #00b89a;
	font-size: 24px;
	color: white;
}
.u_text{
	font-size: 24px;
	margin-top: 23px;
	margin-bottom: 27px;
}
.u_list{
	width: 260px;
	margin-left: 15px;
}
.u_list li{
	background-color: #e8f2fb;
	border: 1px solid white;
}
.u_list li:nth-child(even){
	background-color: #f5f5f6;
}
.ultimate input{
	background-color: #3070a8;
	color: white;
	border-radius: 6px;
	}

.pr_n{
	font-size: 50px;
	color: black;
}
input{
	width: 260px;
	height: 40px;
	margin-top: 20px;
	font-size: 14px;
	font-family: 'Open Sans';
}
/*TEST*/

.test{
	height: 315px;
	background-image: url(img/test.jpg);
}
.test_content{
	width: 1023px;
	margin-left:189px;
}
.content_n{
	height: 138px;
	color: #3170a8;
	font-size: 40px;
	text-align: center;
}
.content_n span{
	color: #ee8129;

}
.photo{
	float: left;

}
.cust{
	float: left;
	width: 362px;
	height: 96px;
	background-color: white;
	border: 1px solid #e0e0e0;
	position: relative;
	margin-left: 27px;
	margin-right: 40px;
}
.cust::before{
	content: '';
	position: absolute;
	left: -40px; 
	top: 23px;
    border: 20px solid transparent; 
    border-right: 20px solid white;
}
.photo1{
	float: left;
}
.cust1{
	float: left;
	width: 362px;
	height: 96px;
	background-color: white;
	border: 1px solid #e0e0e0;
	position: relative;
	margin-left: 27px;
}
.cust1::before{
	content: '';
	position: absolute;
	left: -40px; 
	top: 23px;
    border: 20px solid transparent; 
    border-right: 20px solid white;
}
footer {
	
}
.foot_up{
	width: 1349px;
}
.contact{
	height: 345px;
	width: 50%;
	background-color: white;
	float: left;
}
.cont_cont{
	width: 507px;
	margin-left: 189px;
	margin-top: 35px;
	
}
.bot_icons{
	height: 240px;
	width: 10%;
	float: left;
}
.bot_inf{
	height: 240px;
	width: 100%;
	}
.bot_inf p{
	font-size: 14px;
	line-height: 30px;
	color: #666666;
}
.bot_sn{
	height: 105px;
	
}
.fb{
	float: left;
	padding-right: 25px;
}
.tw{
	float: left;
	padding-right: 25px;
}

#GMapContainer{
	height: 345px;
	width: 50%;
	float: left;
}

.crl{
	clear: both;
}
.bot_cont{
	height: 105px;
	background-color: #3070a8;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
