@font-face {
	font-family: "HelveticaRegular";
	src: url("fonts/HelveticaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'arial', sans-serif;
}
*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "HelveticaRegular";
}
body {
	min-width: 1000px;
}
 .header,.banner_cont, .cont_history_cont, .main_cont_top, .main_cont_bot, .bot_start_cont, .foot_cont{
	width: 1000px;
	margin: 0 auto;	
 }
header{
	background-color: #3498db;
	min-height: 77px;
}
.logo{
	width: 53px;
	height: 43px;
	float: left;
    border: 2px solid #fff;
    font-size: 24px;
    text-align: center;
    margin: 13px 14px 0 0;
    padding-top: 10px;
    border-radius: 50px;
    cursor: default;
    color: #fff;
 }
 .logo:hover{
 	box-shadow: 0 0 10px rgba(255,255,255,0.9);
 }
.logo_name{
	color: #fff;
	font-size:26px;
	float: left;
	margin-top: 29px;	
	font-weight:bold;
	text-transform: uppercase;
}
.clr{
	clear: both;
}
.social_network{
	float: right;
	margin-top: 29px;
}
.p_connect{
	float: left;
	margin-top: 5px;
	color: white;
	padding-right: 8px;
}
.sn{
	float: right;	
}
.sn li{
	background: url(img/sprite.png);
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}
.sn li:hover{
	box-shadow: 0 0 10px rgba(255,255,255,0.9);
	cursor: pointer;
}
.sn .g{
	background-position: -24px 0;
}
.sn .tw{
	background-position: -48px 0;
}


/*BANNER*/


.banner{
	width: 100%;
	height: 350px;
	background-image: url(img/banner_bg.jpg);
	background-repeat: no-repeat;	
	border-bottom: 1px solid #8faec3;
}
.banner_cont{
	width: 1000px;
	margin: 0 auto;
}
.banner_cont h1{
	color: #fff;
	font-size: 50px;
	position: relative;
}
.welcome{
	padding-top: 76px;
	font-weight: bold;
	color: white;
}
.welcom_words{
	color: #fff;
	font-size: 30px;
	width: 560px;
	float: left;
}
.reg_form{
	width: 360px;
	height: 536px;
	border-bottom: 5px solid #3498db;
	position: absolute;
	background-color: #fff;
	margin-left: 640px;
	margin-top: 30px;
	z-index: 999;
}
.reg_title{
	font-size: 25px;
	color: #333333;
	text-align: center;
	margin:30px 0;
}
.reg_form .reg{
	width: 304px;
	height: 34px;
	border: 1px solid #e6e6e6;
	background-color: #f2f2f2;
	font-size: 15px;
	line-height: 34px;
	padding-left: 14px;
}
.reg_select{
	width: 317px;
	height: 37px;
	border: 1px solid #e6e6e6;
	background-color: #f2f2f2;
}
.reg_form .reg:focus{
	border: #b8e3ff;
}
.reg::-webkit-input-placeholder {
  color: #333333;
    }
.reg:-ms-input-placeholder {
  color: #333333;
    }
.reg_form .adress{
	height: 74px;
}
.reg_form li{
	padding-bottom: 9px;
	margin-left: 20px;
}
#adress{
	height: 74px;
}
#button{
	width: 220px;
	height: 50px;
	background: #e74c3c;
	color: #fff;
	font-size: 25px;
	margin-top: 11px;
	padding: 0;
	margin-left: 55px;
	cursor: pointer;
	}
#button:hover{
	background-color: #d24436;
}
.welcome{
	font-size: 50px;
}
.welcom_words{
	font-size: 30px;

}
.cont_history{
	background-color: #f2f2f2;
	height: 249px;
	border-bottom: 2px solid #f2f2f2;
}
.cont_history_cont {
	color: #333333;
	font-size: 13px;
}
.un_name{
	color:#333333; 
	font-size:15px;
	font-weight: bold;
	padding: 34px 0 24px 0;
}
.main_history_text{
	width: 570px;
	float: left;
}
/*WHY WE?*/
.main_cont_top{
	height: 531px;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
	font-size: 13px;
}
.title_cont{
	padding: 39px 0 33px 0;
	color: #3498db;
	text-align: left;
	font-size: 25px;
}
.qa_envir{
	width: 290px;
	float: left;
	padding-right: 60px;
}
.qa_title, .qa_prog_title, .ex_title {
	font-size: 15px;
	font-weight: bold;
	padding: 32px 0 24px 0;
}
.qa_text, .qa_prog_text, .ex_text{
	color: #333333;
	font-size: 13px;
}
.qa_prog{
	width: 290px;
	float: left;
	padding-right: 60px;
}
.envir_view, .qa_view, .ex_view{
	width: 52px;
	height: 52px;
	border: 1px solid #e6e6e6;
	border-radius: 100px;
	overflow: hidden;
	margin-top: 26px;
}
.envir_view, .qa_view, .ex_view p{
	color: #333333;
	font-size: 13px;
	text-align: center;
	line-height: 52px;
}
.envir_view:hover{
	background-color:#fff; 
	border-color: #3498db;
}
.qa_view:hover{
	background-color:#fff; 
	border-color: #3498db;
}
.ex_view:hover{
	background-color:#fff; 
	border-color: #3498db;
}
.envir_view p:hover{
	color: #3498db;
	font-weight: bold;
}
.qa_view p:hover{
	color: #3498db;
	font-weight: bold;
}
.ex_view p:hover{
	color: #3498db;
	font-weight: bold;
}
.main_cont_bot{
		height: 256px;
}
.stud_says{
	float: left;
	color: #3498db;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 40px;
}
.stud_word::before {
    content: "\201C";
    color: #f2f2f2;
    font-size: 50px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
 }
.stud_word{
	font-size: 13px;
	color: #333333;
	float: left;
	width: 733px;
}
.round{
	height: 40px;
	width: 40px;
	background-color: #fff;
	border:1px solid #e7e7e7;
	float: right;
	border-radius: 100px;
	margin-left: 3px;
	margin-top: 30px;
}
.round:hover{
	background-color: #f2f2f2;
	border-color: #3498db;
}
.round img{
	margin: 12px 0 0 12px;
}
.round1 img{
	margin: 12px 0 0 12px;
}
.round1{
	height: 40px;
	width: 40px;
	background-color: #fff;
	border:1px solid #e7e7e7;
	float: right;
	border-radius: 100px;
	margin-top: 30px;
}
.round1:hover{
	background-color: #f2f2f2;
	border-color: #3498db;
}
cite{
	float: right;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	margin-top: 20px;
	text-transform: uppercase;
}
cite::after {
    content: "\201D";
    color: #f2f2f2;
    font-size: 50px;
    position: absolute;
    margin: 20px 20px 0 0;
}
.clr{
	clear: both;
}
.bot_start{
	height: 190px;
	background-color: #f2f2f2;
}
.bot_start_cont{
	position: relative;
}
.yang_men{
	position: absolute;
	right: 48px;
	top: -173px;
	z-index: 99;
}
.bot_but{
	padding: 0;
	margin: 0;
	margin-top: 68px;
	height: 60px;
	width: 549px;
	background-color: #e74c3c;
	font-size: 25px;
	text-transform: uppercase;
	cursor: pointer;
	}
.click_on_but{
	line-height: 56px;
	color: white;
}
.click_on_but:after{
	width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "\1433";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 2px 3px 2px 7px;
    color: white;
    margin-left: 14px;
}
.bot_but:hover{
	background-color: #d24436;
}
footer{
	height: 193px;
	background-color: #3498db;
	border-top: 1px solid #99c8e7;
}
.bot_logo{
	width:255px;
	float:left;
	display: block;
}
.logo_bot{
	width: 67px;
	height: 47px;
	border: 2px solid white;
	border-radius: 50px;
	font-size: 27px;
	color: white;
	float: left;
	padding-top: 20px;
	text-align: center;
	margin-top: 50px;
	margin-right: 9px;
	cursor: default;
}
.logo_bot:hover{
box-shadow: 0 0 10px rgba(255,255,255,0.9);
}
.un_bot_name{
	font-size: 26px;
	color: white;
	margin-top: 60px;
	text-transform: uppercase;
	border-right: 1px solid #2980b9;
}
.social_network_bot{
	float: left;
	margin-top: 60px;
	margin-left: 23px;
}
.p_connect_bot{
	float: left;
	margin-top: 5px;
	color: white;
	padding-right: 8px;
}
.sn{
	float: left;	
}
.lic{
	margin-left: 23px;
	font-size: 13px;
	color: white;
	display: inline-block;	
}
@media screen and (min-width: 800px) and (max-width: 1000px){
body{
	min-width: 800px;
	max-width: 1000px;
}
.header,.banner_cont, .cont_history_cont, .main_cont_top, .main_cont_bot, .bot_start_cont, .foot_cont{
	width: 768px;
	margin: 0 auto;	
}
.reg_form{
	width:340px;
	margin-left: 440px; 
}
.reg_title{
	font-size: 20px;
	color: #333333;
	text-align: center;
	margin:30px 0;
}
.reg_form .reg{
	width: 284px;
	}
.reg_select{
	width: 298px;
	font-size: 15px;
	padding-left: 8px;
}
#button{
	width: 200px;
}
.welcome{
	font-size: 40px;
}
.welcom_words{
	font-size: 25px;
	width: 380px;
}
.main_history_text{
	width: 390px;
}

.main_cont_top{
	height: auto;
	border-bottom: none;
}
.title_cont{
	padding: 39px 0 33px 0;
	color: #3498db;
	text-align: left;
	font-size: 25px;
}
.qa_envir{
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
}
.build_pic, .doct_pic, .men_pic{
	float: left;
	padding-right: 22px;
}
.qa_title{
	font-size: 15px;
	font-weight: bold;
	float: none;
}
.qa_text{
	color: #333333;
	font-size: 13px;
}
.qa_prog{
	width: auto;
	padding: 0;
	margin: 0;
	float: none;	
}
.ex_teacher{
	float: left;
	border-bottom: 1px solid #f2f2f2;
}
.qa_title, .qa_prog_title, .ex_title {
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 24px 0;
	text-align: left;
}
.qa_text, .qa_prog_text, .ex_text{
	text-align: left;
	padding-left: 10px;
}
.envir_view, .qa_view, .ex_view{
	float: none;
	margin: 40px 0 36px 0;
	padding:0;
}
.main_cont_bot{
	height: 256px;
}
.stud_says{
	font-size: 20px;
}
.stud_word{
	width: 540px;
}
.bot_but{
	width: 479px;
	font-size: 20px;
}
.yang_men{
	right: 0;
}
cite{
	margin-bottom: 70px;
}
.lic{
	width: 450px;
}
}
@media screen and (min-width: 320px) and (max-width: 800px){
	body{
	min-width: 320px;
	max-width: 800px;
}
.header,.banner_cont, .cont_history_cont, .main_cont_top, .main_cont_bot, .bot_start_cont, .foot_cont{
	width: 320px;
	margin: 0 auto;	
}
header{
	height: 160px;
}
.logo{
	padding-top: 10px;
	float: none;
	margin: 0 auto;
}
.logo_name{
	float: none;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	width: 180px;
	border-bottom: 1px solid #2980b9;
	font-size: 20px;
}
.social_network{
	float: none;
	margin: 11px 0 0 90px;
}
.welcome {
	padding-top: 40px;
	padding-bottom: 5px;
	margin: 0;
	font-size: 40px;
	text-align: center;
}
.welcom_words{
	float: none;
	font-size: 16px;
	width: 250px;
	line-height: 30px;
	text-align: center;
}
.reg_form{
	width: 300px;
	margin: 0;
	float: none;
	left: 19px;
	top: 350px;
}
.reg_form .reg{
	width: 244px;
	}
.reg_select{
	width: 258px;
	font-size: 15px;
	padding-left: 8px;
}
#button{
	margin-left: 20px;
}
.cont_history{
	padding-top: 370px;
	padding-left: 15px;
}
.main_history_text{
	width: 275px;
	margin: 0 auto;

}
.un_name{
	text-align: center;
}
.main_history_text{
	text-align: center;
}
.main_cont_top{
	height: auto;
}
.title_cont{
	padding: 39px 0 33px 0;
	color: #3498db;
	text-align: center;
	font-size: 25px;
}
.qa_envir{
	padding-left: 15px;
}
.build_pic, .doct_pic, .men_pic{
	float: left;
	padding-right: 22px;
	margin-bottom: 28px;
}
.qa_prog{
		padding-left: 15px;
}
.ex_teacher{
	padding-left: 15px;
}
.qa_title, .qa_prog_title, .ex_title {
	text-align: center;
}
.qa_text, .qa_prog_text, .ex_text{
	text-align: center;
	padding-left: 0;
}
.ex_text{
	width: 290px;
}
.envir_view, .qa_view, .ex_view{
	float: none;
	margin: 26px 0 36px 125px;
	padding:0;
}
.round, .round1{
	margin: 21px 0 0 3px;
	float: left;
}
.circle{
	margin-left: 122px;
}
.stud_says{
	font-size: 20px;
	margin-left: 10px;
}
.stud_word{
	width: 288px;
	text-align: center;
}
.stud_word::before{
	display: none;
}
.clr{
	clear: both;
}
.bq::before {
   content: "\201C";
    color: #f2f2f2;
    font-weight: bold;
    font-size: 50px;
    display: block;
    margin-top: 10px;
    position: relative;
    margin-right: 200px;
  }
cite{
	margin-bottom: 130px;
}
.bot_start{
	padding-top: 20px;
	height: 230px;
}
.bot_but{
	width: 300px;
	height: 130px;
	font-size: 20px;
	position: absolute;
	z-index: 999;
}
.yang_men{
	right: 60px;
	top: -133px;
}
footer{
	height: 313px;
}
.bot_logo{
	float: none;
	margin: 0;
	width: auto;
	margin-left: 80px;
}
.logo_bot{
	float: none;
	margin: 30px 0 10px 40px;
}
.un_bot_name{
	margin: 0;
	padding: 0;
	float: none;
	border-right: none;
	font-size: 20px;
	width: 170px;	
	border-bottom: 1px solid #2980b9;
	padding-bottom: 10px;
}
.social_network_bot{
	margin: 11px 0 43px 80px;
}
.lic{
	width: 234px;
	text-align: center;
	margin-left: 45px;
}
}